* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS';
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.title {
    color: #04220b;
    flex: 1;
    font-size: 45px;
    margin-top: 5vh;
}

nav {
    flex: 2.5;
    margin-top: 5vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 20px;
    text-decoration: none;
}

.nav-link-1 {
    background: rgb(26, 109, 109);
    color: aliceblue;
    border-radius: 30px;
    border: none;
    padding: 10px;
}

.nav-link:hover {
    background: rgb(26, 109, 109);
    color: aliceblue;
    border-radius: 30px;
    border: none;
    padding: 10px;
}

.base {
    background-image: url(images/sports1.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.mid {
    display: flex;
    min-height: 115vh;
    width: 100%;
    align-items: center;
}

.mid-1 {
    flex: 0.9;
}

.mid-2 {
    flex: 1.1;
    justify-items: flex-start;
}

.base-shopnow {
    font-family: sans-serif;
    font-size: 25px;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid rgb(26, 109, 109);
    background: transparent;
    color: #fff;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.base-shopnow:hover {
    background: rgb(19, 129, 129);
    border: none;
    color: aliceblue;
}

.container-heading {
    margin-top: 20vh;
    font-size: 40px;
}

.container {
    width: 90%;
    margin: 10vh auto 10vh auto;
    display: flex;
}

.container-item {
    flex: 1;
    margin-left: 15px;
}

.container-item-head {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form {
    width: 80%;
    margin: auto;
}

#contact-form-1 {
    display: flex;
    justify-content: space-around;
}

.container-item-1 {
    padding: 5px;
    height: 35px;
    width: 300px;
    border-radius: 30px;
    border: 2px solid rgb(99, 97, 97);
}

.container-item-2 {
    width: 100%;
    height: 20vh;
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgb(99, 97, 97);
}

.container-item-3 {
    border-radius: 15px;
    border: 2px solid rgb(99, 97, 97);
    height: 35px;
    width: 100px;
    margin: 15px 45%;
    color: rgb(32, 32, 32);
    font-size: 20px;
    font-weight: 650;
}

.container-item-3:hover {
    background-color: rgb(99, 97, 97);
    color: rgb(32, 32, 32);
    border: none;
}

.footer-area {
    width: 100%;
    min-height: 40vh;
    background-color: black;
}

.footer-tab {
    display: flex;
}

.logos {
    flex: 1.4;
    padding-top: .5%;
    display: flex;
    justify-items: flex-start;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: #fff;
}

.footer-text {
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding-top: 5%;
}

.footer-button {
    flex: 1;
    margin-left: 25px;
}

.go-to-top {
    height: 50px;
    width: 50px;
    background-color: #000;
    border: none;
}

.arrow {
    height: 50px;
    width: 50px;
    background-color: #000;
}