* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS';
    background-color: rgb(248, 242, 232);
}

header {
    display: flex;
    background-color: darkgray;
    width: 100%;
    margin: auto;
    height: 20vh;
    align-items: center;
}

.title {
    color: #04220b;
    flex: 1;
    font-size: 45px;
    margin-left: 50px;
}

nav {
    flex: 2.5;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #2b2b35;
    font-size: 20px;
    text-decoration: none;
}

.nav-link:hover {
    background: rgb(26, 109, 109);
    color: aliceblue;
    border-radius: 30px;
    border: none;
    padding: 10px;
}

.base {
    background-size: cover;
    min-height: 100%;
}

.mid {
    background-color: rgb(248, 242, 232);
    min-height: 70vh;
    width: 90%;
    margin: auto;
    display: block;
}

.mid-2 {
    margin: 15px;
    display: flex;
}

.user-logo {
    flex: 1;
}

.user-info {
    flex: 5;
    margin-top: 20px;
}

.edit-profile-button {
    flex: 1;
}

.user-info-1 {
    margin-top: 5px;
    color: rgb(90, 88, 88);
}

.edit-profile {
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid rgb(26, 109, 109);
    background: transparent;
    color: #2b2b35;
    height: 35px;
    width: 135px;
    cursor: pointer;
}

.edit-profile:hover {
    background: rgb(19, 129, 129);
    border: none;
    color: aliceblue;
}

.home-link {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
}

.homepage-link {
    font-weight: bold;
}

.ulogo {
    margin: 15px;
    height: 200px;
    width: 175px;
}

footer {
    height: 7vh;
    background-color: darkgray;
}